
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

@model IEnumerable<PIV_PF_ProyectoFinal.Models.cliente>



<h1>Index</h1>


<a href="/Cliente/Create" class="btn-primary"><i class="bi bi-circle-plus"></i>Crear cliente</a>





<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre completo</th>
            <th>Correo electrónico</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var u in Model)
        {
            <tr>
                <td>@u.id_cliente</td>
                <td>@u.nombre_completo</td>
                <td>@u.correo_electronico</td>
                <td>
                    <div class="btn-group-table">
                        <button class="btn btn-danger btn-sm" title="Eliminar">
                            <i class="bi bi-trash"></i>
                        </button>
                        <button class="btn btn-warning btn-sm" title="Editar">
                            <i class="bi bi-pencil"></i>
                        </button>
                        <button class="btn btn-info btn-sm" title="Ver">
                            <i class="bi bi-info-circle"></i>
                        </button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="~/Scripts/VistaClientes.js"></script>