@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <div class="encabezado_clientes">
            <div class="titulos_clientes">
                <h1>Pharmay Store</h1>
                <h2>Salud y cuidado a un click</h2>
            </div>
            <img id="portada_registro_clientes" src="~/Media/portada_home.png" />
        </div>
    </section>
</main>