@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <div class="encabezado_clientes">
            <div class="titulos_clientes">
                <h1>Pharmay Store</h1>
                <h2>Salud y cuidado a un click</h2>
            </div>
            <img id="portada_registro_clientes" src="~/Media/portada_home.png" />
        </div>
    </section>


    <div class="contenedor-principal-index">

        <div class="grid-container" style="text-align: center;">

            <div class="grid-item" style="background-color: #084C61; border-radius: 14px; padding: 12px; margin: 10px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
                <a href="/Usuario/Seleccion" style="color: white; text-decoration: none; font-weight: bold; display: block;">
                    <i class="bi bi-person-add" style="font-size: 2.5rem; display: block; margin-bottom: 5px;"></i> Gestión de usuarios
                </a>
            </div>

            <div class="grid-item grid-item-inventario"
                 style="background-color: #3A9D23; /* Nuevo color */
                border-radius: 14px; padding: 12px; margin: 10px; box-shadow: 0 4px 8px rgba(0,0,0,0.1); transition: transform 0.2s, box-shadow 0.2s; ">
                <a href="/Producto/Index" style="color: white; text-decoration: none; font-weight: bold; display: block;">

                    <i class="bi bi-box-seam" style="font-size: 2.5rem; display: block; margin-bottom: 5px;"></i> Inventario de productos
                </a>
            </div>

            <div class="grid-item" style="background-color: #8338EC; /* Nuevo color, diferente a los azules */
                border-radius: 14px; padding: 12px; margin: 10px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
                <a href="/Facturacion/Index" style="color: white; text-decoration: none; font-weight: bold; display: block;">
                    <i class="bi bi-cash-stack" style="font-size: 2.5rem; display: block; margin-bottom: 5px;"></i> Gestión de facturas
                </a>
            </div>

            <div class="grid-item" style="background-color: #00A896; /* Nuevo color, distinto del verde */
                border-radius: 14px; padding: 12px; margin: 10px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
                <a href="/Facturacion/Create" style="color: white; text-decoration: none; font-weight: bold; display: block;">
                    <i class="bi bi-cart4" style="font-size: 2.5rem; display: block; margin-bottom: 5px;"></i> Factura rápida
                </a>
            </div>
        </div>

    </div>

</main>