/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*Tabla INDEX Cliente*/
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 15px;
    border-radius: 14px;
    overflow: hidden;
}

    table th {
        background-color: #2d4b75;
        color: white;
        padding: 10px;
        text-align: left;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    table td {
        padding: 10px;
        border-bottom: 1px solid #ccc;
        text-align: center;
    }

.btn-group-table {
    display: flex;
    gap: 8px;
    justify-content: center;
}

table button {
    border-radius: 4px;
    padding: 5px 10px;
}

    table button:hover {
        transform: scale(1.1);
        transition: 0.2s;
    }

table tr:hover {
    background-color: #f2f2f2;
}

tr.selected {
    background-color: #cfe3ff;
}

.titulo-create {
    margin-top:5%;
    text-align:center;
}


/*Formulario creación de clientes*/
.contenedor-form-clientes {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
}

.form-clientes {
    width: 90%;
    max-width: 600px;
    margin: 40px auto;
    padding: 15px;
    background-color: #f8f9fa;
    border-radius: 14px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}
    .form-clientes:hover {
        box-shadow: 0 3px 18px rgba(0, 123, 255, 0.3);
    }

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.form-label {
    font-weight: 600;
    margin-bottom: 8px;
    color: #333;
    font-size: 15px;
}

.form-input {
    width: 100%;
    max-width: 1200px;
    padding: 12px 15px;
    border: 2px solid #ddd;
    border-radius: 14px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    transition: all 0.3s;
}

    .form-input:focus {
        outline: none;
        border-color: #007bff;
        box-shadow: 0 0 8px rgba(0, 123, 255, 0.3);
        background-color: #fff;
    }

/* Botones */
.form-group:last-child {
    flex-direction: row;
    justify-content:space-between;
}

.btn {
    padding: 12px 20px;
    border: none;
    border-radius: 14px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;
    margin-right: 10px;
}

.btn-success {
    background-color: #28a745;
    color: white;
}

    .btn-success:hover {
        background-color: #218838;
        transform: translateY(-2px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

.btn-primary {
    background-color: #007bff;
    color: white;
}

    .btn-primary:hover {
        background-color: #0056b3;
        transform: translateY(-2px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

.btn i {
    margin-right: 10px;
}