
@{
    ViewBag.Title = "Seleccion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="contenedor-opciones-index">
    <div class="Encabezado_Index_clientes my-5">

        <div class="encabezado_clientes">
            <div class="titulos_clientes">
                <h1>Gestión de usuarios</h1>
                <h2>Agrega, consulta, edita y elimina</h2>
            </div>
            <img id="portada_registro_clientes" src="~/Media/administracion_usuarios.png" />
        </div>

    </div>
        <div class="grid-container mt-4">

            <div class="grid-item color-green">
                <a href="/Cliente/Index">
                    <i class="bi bi-person-rolodex"></i>Clientes
                </a>
            </div>

            <div class="grid-item color-blue">
                <a href="/Usuario/Index">
                    <i class="bi bi-heart-pulse"></i>Personal médico
                </a>
            </div>
        </div>
    <div>
        <a class="btn btn-secondary float-end me-4" href="/Home/Index">
            <i class="bi bi-arrow-left-circle"></i>Volver
        </a>
    </div>
</div>


